h1, h2{
    text-align: center;
    position: relative;
}

.page{
    border: grey 1px solid;
    width: 256px;
    min-height: 200px;
    border-radius: 5px;
    position: relative;
    margin: 10px;
}

.tag, code, .description{
    padding: 10px 15px;

}

.pages, .table{
    display: flex;
    flex-flow: row wrap;
}
.ddd{
    border: blue solid 1px;
    margin: 10px;
}
form{
    border: 1px red solid;
    height: 10px;
    margin: 5px;
}

button, span, label, p{
    margin: 10px;
    padding: 3px;
    
}

code{
    color: rgb(226, 104, 104);
    border: grey solid 1px;
    border-radius: 5px;
    height: 1em;
    padding:5px;
    margin: 10px;
    background-color: rgb(228, 224, 224);
}

.table{
    width: 180px;
    height: 300px;
    border: solid 1px blue;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.tb{
    font-size: 1.5em;
    font-weight: bold;
}